*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grigio {
    background-color: rgb(253, 247, 247);
}

.larghezza_definita {
   width: 80vw;
   padding-top: 20px;
   padding-bottom: 20px;
}

.margintop {
    margin-top: -10px;
}

.auto {
    margin: auto;
}

.left {
    float: left;
    padding-top: 10px;
}
.none {
    border: none;
    margin-left: 20px;
}

.inline_block {
display: inline-block;
}

.globo {
    height: 16px;
    vertical-align: text-top;
}

.verticalLine {
    border-left: 1px solid grey;
  }

  .dimensioni {
    font-size: smaller;
    padding-left: 10px;
}

.right {
    float: right;
    padding-top: 10px;
}

.white {
    background-color: white;
    color: orangered;
    margin-right: 20px;
}

.riquadro {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(243, 103, 52);
}

.orange {
    color: white;
    background-color: rgb(243, 103, 52);
}

.larghezza_definita::after {
    display: table;
    content: "";
    clear: both;
}

 .prima_sezione {
    background-image: url("img/jumbotron.png");
    height: 87vh;
    width: 100vw;
}

 .riquadro_grande {
    width: 40vw;
}

.riquadro_grande > h1 {
 font-size: 50px;
 padding-top: 20px;
}

p1 {
    padding-top: 20px;
}

.p2 {
    padding-top: 5px;
}

.riquadro2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.piccolo {
    font-size: 13px;
    display: block;
}

.lightblue {
    background-color: rgb(176, 240, 224);
    height: 10vh;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
   }

.larghezza_definita3 {
    width: 100vw;
 }


.sezione2 {
    width: 50vw;
}

.centro {
    text-align: center;
}
    
.left_right {
    margin-left: 8%;
    margin-right: 7%;
}

.cubo {
    height: 200px;
}

.riquadro_grande2{
    width: 80vw;
    position: relative;
}

.bianco {
background-color: white;
    }

.immagini {
        height: 100px;
    }

.sezione2_parte1 {
        width: 15vw;
        margin-left: 200px;
        margin-top: 50px;
        display: inline-block;
    }

.sezione2_parte2 {
        display: inline-block;
        width: 37vw;
    }

.p1 {
        margin-top: 30px;
    }

.p2 {
        margin-top: 5px;
    }

.sezione2_parte2 > h3 {
        margin-bottom: 20px;
                }

.linea {
            width: 25vw;
            border: 1px solid gray;
            position: absolute;
            right: 10vw;
            bottom: 15vh;
        }

.checkmark {
            color: white;
            background-color: tomato;
            padding-top: 1px;
            padding-left: 3px;
            padding-bottom: 1px;
            padding-right: 3px;
            border-radius: 10px;
            margin-right: 10px;
            margin-left: 20px;
        }

.alignleft {
    text-align: left;
}

.riquadro_grande3 {
            width: 70vw;
            margin: auto;
            padding-top: 10vh;
        }

        .sezione3 {
            padding-bottom: 10vh;
        }

.sezione3::after {
         content: "";
         display: table;
         clear: both;
        }


.articolo {
            width: 22vw;
            background-color: white;
        }

.margin {
    margin-left: 2.8%;
    margin-right: 2.8%;
}

.articolo > .immagini {
    display: block;
}

.articolo > hr {
    width: 300px;
}
.blue {
    background-color: rgb(35, 173, 185);
    padding-bottom: 10vh;
}

.riquadro_grande4 {
    width: 80vw;
    margin: auto;
}

.riquadro_grande4::after {
    content: "";
    display: table;
    clear: both;
}

.riquadro_grande4 > h1{
    font-size: 31px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.riquadro_grande4 > h4{
    color: white;
    padding-bottom: 20px;
    font-size: smaller;
}
.quadrato {
    width: 17vw;
    border: 1px solid white;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}

.sinistra {
    border-left: none;
}

.destra {
    border-right: none;
}

.su {
    border-top: none;
}

.giù {
    border-bottom: none;
}

.riquadro_grande5 {
    width: 60vw;
    margin: auto;
    padding-top: 8vh;
}

.sezione5_riquadro1 > p {
    padding-bottom: -10px;
}

.sezione5_riquadro1 > h1 {
    font-size: 40px;
}

.sezione5_riquadro1 {
    width: 10vw;
}

.sezione5_riquadro2 {
    width: 39vw;
    padding-top: 1vh;
}

.sezione5_riquadro2::after {
content: "";
display: table;
clear: both;
}

.sezione5_scritte1 {
    height: 100%%;
    width: 100%;
    position: relative;
    transform: translate(0, 50%);
}

.sezione5_scritte2 {
    height: 100%;
    width: 100%;
}

.sezione5_scritte3 {
   height: 70%;
   width: 100%;
   position: relative;
    transform: translate(0, 20%);
}

.sottoriquadro {
    width: 21%;
    height: 5vh;
    float: left;
    position: relative;
    margin: 8px;
}

.riquadro_grande5::after{
    content: "";
    display: table;
    clear: both;;
}

.riquadro_grande6 {
    width: 70vw;
    padding-top: 30px;
}

.riquadro_grande6 > img {
    height: 45vh;
}

.riquadro6_sottoriquadro {
    width: 29vw;
}

.riquadro_grande6::after {
    content: "";
    display: table;
    clear: both;
}

.grigio2 {
    background-color: rgb(37, 53, 53);
}

.articolo2 {
    width: 25%;
    color: white;
    float: left;
}

.riquadro3 {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.articolo2 > img{
    background-color: rgb(37, 53, 53);
    height: 20px;
    color:rgb(37, 53, 53) ;
}

.ultima_parte {
    padding-top: 20px;
}
.p3 {
    color: white;
    margin: 10px;
    margin-top: 80px;
}

.p4 {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}